body {
    font-family: monospace;
    margin: 1px;
    padding: 1px;
    box-sizing: border-box;

}
h1 {
    text-align: center;

}
img {
    width: 200px;
}
.drones {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
    justify-content: center;
}
.drone {
    padding: 10px;
    margin: 10px;

}
.drone1 {
    background-color: aliceblue;
    width: 500px;
}
.drone2 {
    background-color:antiquewhite;
    width: 250px;
}
.drone3 {
    background-color:aqua;
    width: 250px;
}
.drone4 {
    background-color:aquamarine;
    width: 250px;
}
.drone5 {
    background-color:azure;
    width: 250px;
}
.drone6 {
    background-color:beige;
    width: 250px;
}
.drone7 {
    background-color:bisque;
    width: 250px;
}
@media screen and (max-width: 375px) {
    img {
      width: 100px;
    }
    .drones {
    flex-wrap: wrap;
    justify-content: center;
    }
    .drone1 {
      width: 100%;
    }
    .drone2 {
      width: 35%;

    }
    .drone3 {
      width: 35%;
    }
    .drone4 {
      width: 35%;
    }
    .drone5 {
      width: 35%;

    }
    .drone6 {
      width: 35%;
    }
    .drone7 {
      width: 35%;
    }
}
@media (min-width: 376px) and (max-width: 1024px) {
    img {
      width: 200px;
    }
    .drones {
    flex-wrap: wrap;
    justify-content: center;
    }
    .drone1 {
      width: 45%;
    }
    .drone2 {
      width: 45%;

    }
    .drone3 {
      width: 28%;
    }
    .drone4 {
      width: 28%;
    }
    .drone5 {
      width: 28%;

    }
    .drone6 {
      width: 28%;
    }
    .drone7 {
      width: 28%;
    }
}
